<div class="stats">
<h1 id="analytics"><center>ANALYTICS <i class="fa fa-sm fa-bar-chart" aria-hidden="true"></i> </center>
</h1>
<div class="row" style="padding-top:20px"> 
<div class="col-md-6">
	<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Distribution of News and Tweets</h3>
	</div>
	<div class="panel-body">
		<p id="chart1" > </p>
	</div>
	</div>
</div>
<div class="col-md-6">
	  <div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Number of News Articles per Country</h3>
	</div>
	<div class="panel-body">
		<p id="chart2" > </p>
		</div>
	</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
	  <div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Most Popular News Articles</h3>
	</div>
	<div class="panel-body">
		<p id="table"></p>
		</div>
	</div>
</div>
</div>
<div class="row"> 
<div class="col-md-6">
	<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Distribution of Retweets</h3>
	</div>
	<div class="panel-body">
		<p id="chart3" > </p>
	</div>
	</div>
</div>
<div class="col-md-6">
	  <div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Average Retweets per Country</h3>
	</div>
	<div class="panel-body">
		<p id="chart4" > </p>
		</div>
	</div>
</div>
</div>  
</div>
