
<h1><center>ANALYTICS</center></h1>
<br/>
 
 <table  id="table1"  width=100%  cellpadding=10>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <tr >
    <td>
      <div id="my_box">
	   <p class="data">Distribution of News and Tweet</p>
	    <hr/>
	   <p id="chart1" > </p>
	   
	  </div>
    </td>
    <td>
	  <div id="my_box">
       <p class="data">Number of news articles per country</p>
	    <hr/>
	   <p id="chart2" > </p>
	  </div>
    </td>
    
  </tr>
 
  <tr>
  <td colspan="2">
    <div id="my_box1">
      <p class="data">Most Popular News Articles</p>
	  <hr/>
	  <p id="table"></p>
    </div>
 
  </td>
  </tr>
  
 <br/>

<tr>
    <td>
      <div id="my_box">
       <p class="data">Distribution of Retweets</p>
	    <hr/>
	   <p id="chart3" > </p>
	  </div>
    </td>
    <td>
	  <div id="my_box">
       <p class="data">Average retweets per country</p>
	    <hr/>
	   <p id="chart4" > </p>
	  </div>
    </td>
    
  </tr>
</table>





