<div class="container">
<!-- <script src="https://gist.github.com/leefsmp/05d62aefa165c85e47ae.js"></script> -->
<form class="form-horizontal">
	<div class="form-group">
        <label class="col-sm-3 control-label">Select a country for region specific news:</label>
        <div class="col-sm-3">
          <div class="input-group">
            <ui-select style="width: 300px;" allow-clear ng-model="selectedCountry" on-select="selectCountry($item)" theme="bootstrap">
              <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.properties.name}}</ui-select-match>
              <ui-select-choices repeat="country in countries | filter: $select.search">
                <span ng-bind-html="country.properties.name | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
			</div>
        </div>

        <label class="col-sm-3 control-label">Or search news by keyword:</label>
        <div class="col-sm-3">
          <input class="form-control" id="searchNews" ng-model="searchKey" ng-keypress="searchNews($event)" 
		  placeholder="Search..." autocomplete="off" type="text">
        </div>
    </div>
	  
</form>
</div>

<div style="padding-left:2%">

<div class="col-sm-9">
<leaflet defaults="defaults" lf-center="center" markers="markers" layers="layers" width="100%" height="480px"></leaflet>
</div>

<div class="col-sm-3">
 <div class="panel panel-primary">
      <div class="panel-heading">Top 10 latest news articles</div>
		  <div class="panel-body">
			  <ul class="nav nav-stacked" ng-repeat="news in trending">
				<li><a href="" ng-click="showTrend(news)">{{news.title}}</a></li>
			  </ul>
	  </div>
 </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModal" 
	aria-hidden="true" data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header  bg-primary">
				<h4 class="modal-title">{{selectedNews.title}}</h4>
			</div>
			<div class="modal-body">
	  			<div class="form-group">
					<div>
						<p ng-bind-html="selectedNews.text"></p>
					</div>
	  			</div>
				<div ng-repeat="tweet in tweets" class="form-group">
					<div>
						{{tweet.text}}
					</div>
	  			</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="closeModal()">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for search -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" 
aria-hidden="true" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<carousel interval="myInterval">
				<slide ng-repeat="res in searchRes" active="point.active">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">{{res.title}}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div>
							<p ng-bind-html="res.text"></p>
						</div>
		            </div>
					<div ng-repeat="tweet in tweets" class="form-group">
					<div>
						{{tweet.text}}
					</div>
	  			</div>
		        </div>
				<!-- <div class="carousel-caption">
					<p>Article {{$index+1}}</p>
				</div> -->
				</slide>
		    </carousel>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"
					ng-click="closeSearch()">Close</button>
			</div>
		</div>
	</div>
</div>
